.container {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 150px;
}

.relative-box {
  position: relative;
  top: 20px;
  left: 20px;
}

.absolute-box {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fixed-box {
  position: fixed;
  bottom: 0;
  left: 0;
}




