.box1 {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  border: 5px solid grey;
  background-color: white;
}

.box2 {
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border: 3px dotted skyblue;
  background-color: white;
}

.box3 {
  width: 200px;
  height: 100px;
  margin: 30px;
  padding: 5px;
  border: 2px dashed black;
  background-color: white;
}

