nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333;

}

nav a:hover {
  color: #4CAF50;
}

nav a:visited {
  color: #666;
}

nav a:active {
  color: #999;
}

