.nav-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  color: wheat;
  padding: 10px;
  display: block;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .nav-menu ul {
    background-color: brown;
  }
}

@media (max-width: 768px) {
  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


