@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: serif;
  background-color: white;
}

.container {
  margin: auto;
  padding: 10px;
}

.header {
  position: sticky;
  top: 0;
  background-color: blue;
  box-shadow: 2px 2px 8px #333;
  padding: 8px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
}

.nav-list a:hover {
  background-color: rgb(122, 162, 232);
  color: blue
}


.hero {
  padding: 40px 10px;
  background: linear-gradient(100deg, (#ffffff) 0%, (#f5f7fb) 100%);
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 360px;
  align-items: center;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: blue;
  margin: 0 0 10px;
}

.hero-tag {
  font-weight: 500;
  color: green;
  margin: 0 0 16px;
}

.hero-photo {
  width: 100%;
  margin: 0 auto;
}

.hero-photo img {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  border-radius: 12px;
  box-shadow: 2px 2px 10px #333;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
}

.view-btn {
  background-color: #0b66ff;
  color: white;
}

.view-btn:hover {
  background-color: #2558b0;
}

.contact-btn {
  background-color: transparent;
  color: #0b66ff;
  border: 2px solid rgba(11, 102, 255, 0.12);
}

.contact-btn:hover {
  background-color: blue;
  color: white;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-bottom: 12px;
  color: blue;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.skill {
  background-color: white;
  box-shadow: 2px 2px 5px #ccc;
  padding: 10px 14px;
  border-radius: 5px;
  font-weight: 500;
}

.edu-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(11, 36, 54, 0.06);
}

.edu-table th,
.edu-table td {
  padding: 12px 14px;
  border-bottom: 1px solid #eef3fb;
  text-align: left;
}

.contact {
  text-align: center;
  padding: 30px 0;
}


.footer {
  background-color: #1c3b52;
  color: white;
  padding: 18px 0;
  margin-top: 30px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  list-style: none;
  display: flex;
  gap: 12px;
}

.social a {
  color: white;
  text-decoration: none;
}

.social a:hover {
  background: #ffffff;
  color: #1c3b52;
  padding: 10px;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-photo {
    width: 300px;
    margin: auto;
  }

  .hero-photo img {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  .hero-left {
    order: 2;
  }
  .hero-left {
    order: 1;
  }

  .skills-list {
    justify-content: center;
  }
  .edu-table th,
  .edu-table td {
    padding: 10px;
    font-size: 14px;
  }
  .logo a {
    font-size: 20px;
  }

  .nav-list {
    display: flex;
    gap: 5px;
  }

  .nav-list a {
    padding: 5px 4px;
  }

  .footer{
    font-size: 15px;
  }
}


.project-page {
  padding: 60px 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.project-image {
  width: 100%;
  height: 180px;
  background: #dfe7f1;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.project-title {
  font-size: 20px;
  font-size: 600;
  margin-bottom: 8px;
  color: #1c3b52;
}

.project-text {
  font-size: 15px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 12px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  background: #e6f0ff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #0056b3;
  list-style: none;
}


@media (max-width: 1024px) and (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.contact-page {
  padding: 40px 0;
  margin: auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  background: #fff;
}

.contact-form button {
  margin-top: 10px;
  width:90%
}

.contact-info {
  width: 90%;
  background-color: #f0f8ff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #ccc;
}

.info-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.contact-info button{
  margin: 20px 0;
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-list li {
  margin: 10px 0;
}

.social-list a {
  color: #0077ff;
  text-decoration: none;
  font-weight: 500;
}

.social-list a:hover {
  color: #0057cc;
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
    padding: 12px;
  }

  .contact-info {
    padding: 18px;
  }

  .info-title {
    font-size: 20px;
  }
}